@using ViewModels
@model List<OrderViewModel>
@{
    ViewData["Title"] = "Заказы пользователя:" + User.Identity.Name;
    int index = 0;
}   
<div class="row" >
      <div class="col-9">
            <h3 class="orangetext">Мои заказы</h3>
        <br />
        <div class="card-9 sm-9"> 
               <table class="table" style="word-wrap: break-all">
                    <thead class="darkslategrayText">
                        <tr>
                            <th>№</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                             <th>Дата</th>
                            <th>Вермя</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(index=index + 1)</td>
                                <td>@item.Cost</td> 
                                <td >@item.Status.GetDisplayName()</td>
                                <td>@item.CreatedDateTime.ToString("d")</td>
                                <td>@item.CreatedDateTime.ToString("t")</td>
                            </tr>
                       }
                    </tbody>
                </table>  
        </div>
    </div>
</div>
